:root {
  --text-color: #333;
  --accent-color: rgb(37, 126, 96);
  --btn-text-color: #f9f9f9;
  --alert-success-bg-color: #d4edda;
  --alert-success-text-color: #155724;
  --alert-danger-bg-color: #f5c6cb;
  --alert-danger-text-color: #721c24;
}
.App {
  text-align: center;
}
.container {
  padding: 3rem;
  background-color: #a6a6a6;
  margin: 1% 30% 0% 30%;
}

.heading {
  text-transform: uppercase;
  text-align: center;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
}

image-container {
  border-radius: 1rem;
  padding: 1.5rem;
}

.button-primary {
  background-color: white; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 1rem 1rem 1rem 0;
  border-width: 3px !important;
  border-radius: 17px;
  color: #6b6b6b !important;
  border-color: #6b6b6b;
}

.img-input {
  font-size: 16px;
}

.process__image {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.alert {
  padding: 1rem 2rem;
  border-radius: 5px;
  top: 2rem;
  right: 0rem;
  min-width: 200px;
}

.alert-success {
  background-color: var(--alert-success-bg-color);
  color: var(--alert-success-text-color);
}

.alert-danger {
  background-color: var(--alert-danger-bg-color);
  color: var(--alert-danger-text-color);
}
